# Python
__pycache__/
*.py[cod]

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/
.env

# Virtual Environment
venv/
env/
ENV/

# Docker
.DS_Store
*.db
*.swp
*.swo
*.zip
*.gz
*.tar
*.sql
*.json
*.xml
*.xlsx

# System
*.bak
*.tmp
Thumbs.db
ehthumbs.db
Desktop.ini

# Visual Studio Code
.vscode/

# macOS
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints/

# PyCharm
.idea/
*.iml
*.ipr
*.iws
.idea_modules
